h1 {
    font-size: 100px;
    text-align: left;
    margin-left: 100px;
    margin-top: 100px;
    position: absolute; /* Imposta posizione assoluta */
    top: 10px; /* Regola la distanza dal top */
    left: 10px; /* Regola la distanza dalla sinistra */
   
        color: #8B4513; /* Colore marrone per il testo */
        font-weight: bold; /* Testo in grassetto */
        text-shadow: 1px 1px 2px #000; /* Ombra leggera al testo */
    
}

body {
    background-image: url('img/home.jpg');
    position: relative; /* Perché gli elementi figli possono essere posizionati rispetto al body */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute; /* Imposta posizione assoluta */
    top: 20px; /* Regola la distanza dall'alto */
    right: 20px; /* Regola la distanza dalla destra */
}

/* .navbar li {
    margin-left: 20px;
} */

/*  .navbar li a, */ 
.navbar p.numero {
    color: #8B4513;
    text-decoration: none;
    display: flex;
/*     align-items: center;
 */    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-right: 40px;
    
}
.navbar p.email{
    color: #8B4513;
    text-decoration: none;
    display: flex;
/*     align-items: center;
 */    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-right: 20px;
}
.imgTel {
    margin-right: 12px; /* Spazio a destra dell'immagine */
}
.imgEmail{
    margin-right: 12px; /* Spazio a destra dell'immagine */
    width: 50px;

}


.container {
    padding: 20px;
    background-color: rgba(190, 132, 22, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 700px;
    width: 600px;
    position: absolute; /* Imposta posizione assoluta */
    top: 12px; /* Posiziona in alto */
    right: 35px; /* Allinea a destra */
}


/* Stili generali per i bottoni */
.button {
    position: absolute; /* Posizionamento assoluto */
    background-color: #8B4513; /* Colore di sfondo marrone */
    color: white; /* Colore del testo bianco */
    padding: 30px 50px; /* Padding interno */
    text-decoration: none; /* Rimuove la sottolineatura */
    border-radius: 5px; /* Arrotondamento degli angoli */
    border: none; /* Rimuove il bordo */
    font-weight: bold; /* Testo in grassetto */
    font-size: 16px; /* Dimensione del carattere */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombreggiatura */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transizione su sfondo e ombreggiatura */
    cursor: pointer; /* Mostra il cursore a forma di mano */
}

/* Stili specifici per il pulsante con la classe .accedi */
.prenotazione {
    top: 220px; /* Posiziona in alto */
    right: 580px; /* Allinea a destra */
    position: absolute;
}
.informazioni{
    top: 220px;
    right: 320px;
    position: absolute;
}
.accedi{
    top: 380px;
    right: 540px;
    position: absolute;
   
}
.registrati{
    top: 380px;
    right: 350px;
    position: absolute;
}
.privacy{
    top: 680px;
    right: 310px;
    position: absolute;
}


/* Stili per il pulsante al passaggio del mouse */
.button:hover {
    background-color: #A0522D; /* Sfondo marrone più chiaro */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Ombreggiatura più intensa */
}