body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fce0a2;
}

.container {
  background-color: #8B4513;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#calendario {
  border-collapse: collapse;
  width: 600px;
  margin: auto;
  background-color: #8B4513;
}

#calendario th,
#calendario td {
  width: 80px;
  height: 60px;
  text-align: center;
  border: 1px solid #d3a173;
  color: #fce0a2;
}

#calendario th {
  background-color: #8B4513;
  font-weight: bold;
}

#calendario td {
  cursor: pointer;
  background-color: #a7560aef;
  color: #8B4513;
}

#calendario td:hover {
  background-color: #C19A6B;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #fce0a2;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #c46b18;
}

.month-year {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  color: #fce0a2;
}

.sport-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #8B4513;
  color: #fce0a2;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.logout {
  background-color: #8B4513;
  border: #8B4513;
  position: fixed;
  right: 54px;
  top: 20px;
  z-index: 1200;
}

.indietro {
  padding: 10px 20px;
  background-color: #8B4513;
  color: #8B4513;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.5s ease;
  position: fixed;
  top: 140px;
  left: 30px;
}
