h1 {
    font-size: 100px;
    text-align: left;
    margin-left: 100px;
    margin-top: 100px;
    position: fixed;
    top: 10px;
    left: 10px;
    color: #8B4513;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}

body {
    background-image: url('img/home.jpg');
    position: relative;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

.navbar p.numero {
    color: #8B4513;
    text-decoration: none;
    display: flex;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-right: 40px;
}

.navbar p.email {
    color: #8B4513;
    text-decoration: none;
    display: flex;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-right: 20px;
}

.imgTel {
    margin-right: 12px;
}

.imgEmail {
    margin-right: 12px;
    width: 50px;
}

.container {
    padding: 20px;
    background-color: rgba(190, 132, 22, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 700px;
    width: 600px;
    position: fixed;
    top: 12px;
    right: 35px;
}

.button {
    position: fixed;
    background-color: #8B4513;
    color: white;
    width: 194.2px;
    height: 148px;
    padding: 0;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prenotazione {
    top: 200px;
    right: 570px;
    position: fixed;
}

.informazioni {
    top: 200px;
    right: 350px;
    position: fixed;
}

.accedi {
    top: 380px;
    right: 570px;
    position: fixed;
}

.registrati {
    top: 380px;
    right: 350px;
    position: fixed;
}

.privacy {
    top: 680px;
    right: 310px;
    position: fixed;
    padding: 50px;
}

.button:hover {
    background-color: #A0522D;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
