/* Stile generale della pagina */
body {
    background-color: #fce0a2;
    color: #4A3B36;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Stile per i titoli */
h1, h2, h3 {
    color: #4A3B36;
    margin-bottom: 10px;
}

/* Stile per il titolo principale */
h1 {
    font-size: 32px;
    text-align: center;
    padding: 20px;
    background-color: #8B4513;
    color: #FFFFFF;
}

/* Stile per i sotto-titoli */
h2 {
    font-size: 24px;
    padding-left: 20px;
}

/* Stile per il testo principale */
h3 {
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
}

/* Stile per i link */
a {
    color: #A07967;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Stile per il pulsante */
button, .button {
    padding: 10px 20px;
    background-color: #8B4513;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.5s ease;
    position: absolute;
    left: 15px;
}

/* Effetto hover sul pulsante */
button:hover, .button:hover {
    background-color: #fce0a2;
}

.indietro {
    position: fixed;
    top: 25px;
    left: 20px;
    background-color: #8B4513;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.5s ease;
    z-index: 1000;
}
